### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data["SN"].value_counts())
pd.DataFrame([player_count], columns = ["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Finding # of unique items
unique_items = len(purchase_data["Item ID"].value_counts())

# Total money spent
total_revenue = round(purchase_data["Price"].sum(), 2)

# Number of purchases
num_purchases = purchase_data["Price"].count()

# Average price
average_price = round(purchase_data["Price"].mean(), 2)

# Create a list for analysis
purchase_analysis = []

# Appending values to list
purchase_analysis.append(unique_items)
purchase_analysis.append("$" + str(average_price))
purchase_analysis.append(num_purchases)
purchase_analysis.append("$" + str(total_revenue))

# Convert to df
pd.DataFrame([purchase_analysis], columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total"])

   Number of Unique Items Average Price  Number of Purchases     Total
0                     183         $3.05                  780  $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Grouping by gender
gender_grouped = purchase_data[["SN", "Gender"]]
gender_grouped = gender_grouped.drop_duplicates()
counts = gender_grouped["Gender"].value_counts()

# List of values
total_counts = [counts[0], counts[1], counts[2]]
percents_gender = [round((counts[0]/player_count)*100.2), round((counts[1]/player_count)*100,2), round((counts[2]/player_count)*100/2)]

# Create a df
gender_df = pd.DataFrame({
    "Percentage of Players": percents_gender,
    "Total Count": total_counts
})
gender_df.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_df

                       Percentage of Players  Total Count
Male                                   84.00          484
Female                                 14.06           81
Other / Non-Disclosed                   1.00           11

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Count of purchases by gender
gender_grouped = purchase_data[["SN", "Gender", "Price"]]
counts_gender = gender_grouped["Gender"].value_counts()

# Purchase counts
purchase_counts = [counts_gender[0], counts_gender[1], counts_gender[2]]

gender_grouped = gender_grouped.groupby("Gender")
total_spent = gender_grouped.sum()
total_spent

# Total purchase value
total_purch_value = [total_spent.iloc[1,0],total_spent.iloc[0,0],total_spent.iloc[2,0]]

# Average purchase price
avg_purch = [total_spent.iloc[1,0]/counts_gender[0],total_spent.iloc[0,0]/counts_gender[1],total_spent.iloc[2,0]/counts_gender[2]]

# Normalized Totals
normal_totals = [total_spent.iloc[1,0]/counts[0],total_spent.iloc[0,0]/counts[1],total_spent.iloc[2,0]/counts[2]]

# Create a df
purchase_analysis_gender_df = pd.DataFrame({
    "Purchase Count": purchase_counts,
    "Average Purchase Price": avg_purch,
    "Total Purchase Value": total_purch_value,
    "Normalized Totals": normal_totals,
    "Gender": ["Male", "Female", "Other / Non-Disclsoed"]
})
purchase_analysis_gender_df = purchase_analysis_gender_df.set_index("Gender")
purchase_analysis_gender_df = purchase_analysis_gender_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Normalized Totals"]]

purchase_analysis_gender_df.style.format({"Average Purchase Price": "${:.2f}","Normalized Totals": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
df = purchase_data[["SN","Age","Price"]]
df = df.drop_duplicates()

# Age bins
age_10 = df[df["Age"] < 10].count()[0]
age_14 = df[(df["Age"] >= 10) & (df["Age"] <= 14)].count()[0]
age_19 = df[(df["Age"] >= 15) & (df["Age"] <= 19)].count()[0]
age_24 = df[(df["Age"] >= 20) & (df["Age"] <= 24)].count()[0]
age_29 = df[(df["Age"] >= 25) & (df["Age"] <= 29)].count()[0]
age_34 = df[(df["Age"] >= 30) & (df["Age"] <= 24)].count()[0]
age_39 = df[(df["Age"] >= 35) & (df["Age"] <= 39)].count()[0]
age_40 = df[df["Age"] >= 40].count()[0]
ages = [age_10, age_14, age_19, age_24, age_29, age_34, age_39, age_40]

# Percents
percent10 = round((age_10/player_count)*100,2)
percent14 = round((age_14/player_count)*100,2)
percent19 = round((age_19/player_count)*100,2)
percent24 = round((age_24/player_count)*100,2)
percent29 = round((age_29/player_count)*100,2)
percent34 = round((age_34/player_count)*100,2)
percent39 = round((age_39/player_count)*100,2)
percent40 = round((age_40/player_count)*100,2)
percents = [percent10, percent14, percent19, percent24, percent29, percent34, percent39, percent40]

# creating dictionary for demos
age_demo = {
    "Percent of Players": percents,
    "Total Count": ages
}

# Creating dataframe
age_df = pd.DataFrame(age_demo)
age_df.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_df

       Percent of Players  Total Count
<10                  3.99           23
10-14                4.86           28
15-19               23.44          135
20-24               63.37          365
25-29               17.53          101
30-34                0.00            0
35-39                7.12           41
40+                  2.26           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Purchase count
purchases_10 = df[df["Age"] < 10].count()[0]
purchases_14 = df[(df["Age"] >= 10) & (df["Age"] <= 14)].count()[0]
purchases_19 = df[(df["Age"] >= 15) & (df["Age"] <= 19)].count()[0]
purchases_24 = df[(df["Age"] >= 20) & (df["Age"] <= 24)].count()[0]
purchases_29 = df[(df["Age"] >= 25) & (df["Age"] <= 29)].count()[0]
purchases_34 = df[(df["Age"] >= 30) & (df["Age"] <= 24)].count()[0]
purchases_39 = df[(df["Age"] >= 35) & (df["Age"] <= 39)].count()[0]
purchases_40 = df[df["Age"] >= 40].count()[0]
purchases = [purchases_10, purchases_14, purchases_19, purchases_24, purchases_29, purchases_34, purchases_39, purchases_40]

# total purchase value
total_10 = df.loc[df["Age"] < 10, 'Price'].sum()
total_14 = df.loc[(df["Age"] >= 10) & (df["Age"] <= 14), 'Price'].sum()
total_19 = df.loc[(df["Age"] >= 15) & (df["Age"] <= 19), 'Price'].sum()
total_24 = df.loc[(df["Age"] >= 20) & (df["Age"] <= 24), 'Price'].sum()
total_29 = df.loc[(df["Age"] >= 25) & (df["Age"] <= 29), 'Price'].sum()
total_34 = df.loc[(df["Age"] >= 30) & (df["Age"] <= 34), 'Price'].sum()
total_39 = df.loc[(df["Age"] >= 35) & (df["Age"] <= 39), 'Price'].sum()
total_40 = df.loc[df["Age"] >= 40, 'Price'].sum()
totals = [total_10, total_14, total_19, total_24, total_29, total_34, total_39, total_40]

# Average purchase price
avg_price = [total_10/purchase_10, total_14/purchase_14, total_19/purchase_19, total_24/purchase_24, total_29/purchase_29, 
             total_34/purchase_34, total_39/purchase_39, total_40/purchase_40]

# Normalized totals
normalized = [total_10/age_10, total_14/age_14, total_19/age_19, total_24/age_24, total_29/age_29, total_34/age_34,
             total_39/age_39, total_40/age_40]

# creating a dictionary
purchase_analysis = {
    "Purchase Count": purchases,
    "Average Purchase Price": avg_price,
    "Total Purchase Value": totals,
    "Normalized Totals": normalized
}

# creating dataframe
purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df = purchase_analysis_df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals']]
purchase_analysis_df.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
purchase_analysis_df.style.format({"Average Purchase Price": "${:.2f}","Normalized Totals": "${:.2f}","Total Purchase Value": "${:.2f}"})

NameError: name 'purchase_10' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
df2 = purchase_data[["SN", "Price","Item Name"]]
total_spent = df2.groupby("SN").sum()
total_spent.sort_values(by = "Price", ascending = False, inplace = True)

# Top spender SN
names = list(total_spent.index.values)
top_names = [names[0], names[1], names[2], names[3], names[4]]

# Total purchase values
total_purchase_values_1 = total_spent.iloc[0,0]
total_purchase_values_2 = total_spent.iloc[1,0]
total_purchase_values_3 = total_spent.iloc[2,0]
total_purchase_values_4 = total_spent.iloc[3,0]
total_purchase_values_5 = total_spent.iloc[4,0]
top_purchase_values = [total_spent.iloc[0,0],total_spent.iloc[1,0],total_spent.iloc[2,0],total_spent.iloc[3,0],total_spent.iloc[4,0]]

# Purchase counts
top_purchase_counts_1 = df2[df2["SN"] == names[0]].count()[0]
top_purchase_counts_2 = df2[df2["SN"] == names[1]].count()[0]
top_purchase_counts_3 = df2[df2["SN"] == names[2]].count()[0]
top_purchase_counts_4 = df2[df2["SN"] == names[3]].count()[0]
top_purchase_counts_5 = df2[df2["SN"] == names[4]].count()[0]
top_purchase_counts = [top_purchase_counts_1,top_purchase_counts_2,top_purchase_counts_3,top_purchase_counts_4,top_purchase_counts_5]

# Average purchase prices
avg_price_1 = total_purchase_values_1/top_purchase_counts_1
avg_price_2 = total_purchase_values_2/top_purchase_counts_2
avg_price_3 = total_purchase_values_3/top_purchase_counts_3
avg_price_4 = total_purchase_values_4/top_purchase_counts_4
avg_price_5 = total_purchase_values_5/top_purchase_counts_5
avg_prices = [avg_price_1,avg_price_2,avg_price_3,avg_price_4,avg_price_5]

# Creating a dictionary
top_spenders_dict = {
    "Purchase Count": top_purchase_counts,
    "Average Purchase Price": avg_prices,
    "Total Purchase Value": top_purchase_values,
    "SN": top_names
}

# creating a dataframe
top_spenders_df = pd.DataFrame(top_spenders_dict)
top_spenders_df = top_spenders_df.set_index("SN")
top_spenders_df = top_spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

#Formatting
top_spenders_df.style.format({"Average Purchase Price": "${:.2f}","Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
df3 = purchase_data[["Item ID", "Item Name", "Price"]]
pop_items = df3.groupby("Item ID").count()
pop_items.sort_values(by = "Item Name", ascending = False, inplace = True)
df3 = df3.drop_duplicates(["Item ID", "Item Name"])

# Item IDs
item_ids = [pop_items.index[0], pop_items.index[1], pop_items.index[2],pop_items.index[3],pop_items.index[4]]

#item names
name_1 = df3.loc[df3["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = df3.loc[df3["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = df3.loc[df3["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = df3.loc[df3["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = df3.loc[df3["Item ID"] == item_ids[4], "Item Name"].item()
pop_item_names = [name_1, name_2, name_3, name_4, name_5]

#purchase counts
item_counts = [pop_items.iloc[0,0],pop_items.iloc[1,0],pop_items.iloc[2,0],pop_items.iloc[3,0],pop_items.iloc[4,0]]

# item prices
price_1 = df3.loc[df3["Item Name"] == pop_item_names[0], "Price"].item()
price_2 = df3.loc[df3["Item Name"] == pop_item_names[1], "Price"].item()
price_3 = df3.loc[df3["Item Name"] == pop_item_names[2], "Price"].item()
price_4 = df3.loc[df3["Item Name"] == pop_item_names[3], "Price"].item()
price_5 = df3.loc[df3["Item Name"] == pop_item_names[4], "Price"].item()
item_prices = [price_1, price_2, price_3, price_4, price_5]

# total purchase value
total_values = [pop_items.iloc[0,0]*price_1,pop_items.iloc[1,0]*price_2,pop_items.iloc[2,0]*price_3,pop_items.iloc[3,0]*price_4,
               pop_items.iloc[4,0]*price_5]

# creating dataframe
pop_items_df = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": pop_item_names,
    "Purchase Count": item_counts,
    "Item Price": item_prices,
    "Total Purchase Value": total_values
})

pop_items_df = pop_items_df.set_index(["Item ID", "Item Name"])
pop_items_df = pop_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

pop_items_df.style.format({"Item Price": "${:.2f}","Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
df4 = df4 = purchase_data[["Item ID", "Item Name","Price"]]
profit_items = df4.groupby("Item ID").sum()
profit_items.sort_values(by="Price", ascending = False, inplace = True)
df4 = df4.drop_duplicates(["Item ID", "Price"])

# item ids
name_1 = df3.loc[df3["Item ID"] == item_ids[0], "Item Name"].item()
name_2 = df3.loc[df3["Item ID"] == item_ids[1], "Item Name"].item()
name_3 = df3.loc[df3["Item ID"] == item_ids[2], "Item Name"].item()
name_4 = df3.loc[df3["Item ID"] == item_ids[3], "Item Name"].item()
name_5 = df3.loc[df3["Item ID"] == item_ids[4], "Item Name"].item()
profit_names = [name_1, name_2, name_3, name_4, name_5]

#Total purchase value
values = [profit_items.iloc[0,0],profit_items.iloc[1,0],profit_items.iloc[2,0],profit_items.iloc[3,0],profit_items.iloc[4,0]]

#item price
price_1 = df3.loc[df3["Item ID"] == item_ids[0], "Price"].item()
price_2 = df3.loc[df3["Item ID"] == item_ids[1], "Price"].item()
price_3 = df3.loc[df3["Item ID"] == item_ids[2], "Price"].item()
price_4 = df3.loc[df3["Item ID"] == item_ids[3], "Price"].item()
price_5 = df3.loc[df3["Item ID"] == item_ids[4], "Price"].item()
profit_prices = [price_1, price_2, price_3, price_4, price_5]

# purchase counts
df5 = purchase_data[["Item ID", "Item Name", "Price"]].groupby("Item Name").count()
count_1 = df5.loc[df5.index == profit_names[0], "Item ID"].item()
count_2 = df5.loc[df5.index == profit_names[1], "Item ID"].item()
count_3 = df5.loc[df5.index == profit_names[2], "Item ID"].item()
count_4 = df5.loc[df5.index == profit_names[3], "Item ID"].item()
count_5 = df5.loc[df5.index == profit_names[4], "Item ID"].item()
counts = [count_1, count_2, count_3, count_4, count_5]

#creating dataframe
profit_items_df = pd.DataFrame({
    "Item ID": item_ids,
    "Item Name": profit_names,
    "Purchase Count": counts,
    "Item Price": profit_prices,
    "Total Purchase Value": values
})
profit_items_df = profit_items_df.set_index(["Item ID", "Item Name"])
profit_items_df = profit_items_df[["Purchase Count", "Item Price", "Total Purchase Value"]]

#formatting
profit_items_df.style.format({"Item Price": "${:.2f}","Total Purchase Value": "${:.2f}"})